:root {
  --font-s: 1.6rem;
  --font-m: 1.8rem;
  --font-l: 2rem;
  
  --active: #1976d2;
  --white: #fff;
  --text: #222426;
  --background: #eceef2;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

body {
  font: var(--font-m);
  color: var(--text);
  overflow: hidden;
}

a {
  text-decoration: none;
}


  